<app-header></app-header>
<div class="page-container">

  <div class="container">
    <h2>{{ isEditMode() ? 'Editar Producto' : 'Formulario de Registro' }}</h2>
    <div class="line-divider"></div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <div>
        <label>ID</label>
        <input [ngClass]="{'error-border': productForm.get('id')?.invalid &&
        (productForm.get('id')?.touched || productForm.get('id')?.dirty)}"
               type="text" id="id" formControlName="id"/>
        <p class="error">{{ getFieldError('id') }}</p>
      </div>

      <div>
        <label for="name">Nombre</label>
        <input [ngClass]="{'error-border': productForm.get('name')?.invalid &&
        (productForm.get('name')?.touched || productForm.get('name')?.dirty)}"
               type="text" id="name" formControlName="name"/>
        <p class="error">{{ getFieldError('name') }}</p>
      </div>

      <div>
        <label for="description">Descripción</label>
        <input [ngClass]="{'error-border': productForm.get('description')?.invalid &&
        (productForm.get('description')?.touched || productForm.get('description')?.dirty)}"
               type="text" id="description" formControlName="description"/>
        <p class="error">{{ getFieldError('description') }}</p>
      </div>

      <div>
        <label for="logo">Logo</label>
        <input [ngClass]="{'error-border': productForm.get('logo')?.invalid &&
        (productForm.get('logo')?.touched || productForm.get('logo')?.dirty)}"
               type="text" id="logo" formControlName="logo"/>
        <p class="error">{{ getFieldError('logo') }}</p>
      </div>

      <div>
        <label for="release-date">Fecha Liberación</label>
        <input [ngClass]="{'error-border': productForm.get('date_release')?.invalid &&
        (productForm.get('date_release')?.touched || productForm.get('date_release')?.dirty)}"
               type="date" id="release-date" formControlName="date_release"
               [min]="minDate"
        />
        <p class="error">{{ getFieldError('date_release') }}</p>
      </div>

      <div>
        <label for="revision-date">Fecha Revisión</label>
        <input readonly [ngClass]="{'error-border': productForm.get('date_revision')?.invalid
        && (productForm.get('date_revision')?.touched || productForm.get('date_revision')?.dirty)}"
               type="date" id="revision-date" formControlName="date_revision"/>
        <p class="error">{{ getFieldError('date_revision') }}</p>
      </div>

      <div class="container-reset">
        <button class="btn btn-reset" (click)="onReset()">Reiniciar</button>
      </div>
      <div>
        <button class="btn btn-submit" [disabled]="productForm.invalid">Enviar</button>
      </div>
    </form>
  </div>

</div>
