@import '../../../../assets/styles/variables';

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
}

.page-container {
  background-color: $page-background;
  @include flex-center();
  padding: 10rem 5rem 5rem 5rem;
  @media (max-width: 768px) {
    padding: 3rem;
    margin-top: 5rem;
  }
}

.container {
  background-color: $card-background;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 40rem;
  height: 100%;

  h2 {
    text-align: center;
  }

  .line-divider {
    border-top: 2px solid $primary-color;
    margin: 1rem 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;

    .form-field {
      width: 100%;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    label {
      font-weight: 500;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $border-color;
      border-radius: 0.25rem;
      margin-top: 0.25rem;

      &:disabled {
        background-color: $disabled-bg;
      }
    }

    .error {
      color: $error-color;
      font-size: 0.875rem;

      input,
      select,
      textarea {
        border-color: $error-color;
      }
    }

    .buttons {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      @media (max-width: 480px) {
        flex-direction: column;

        button {
          width: 100%;
        }
      }
    }
  }

  .container-reset {
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
    border: none;

    @media (max-width: 760px) {
      width: 100%;
    }

    &.btn-reset {
      background-color: $disabled-bg;
      color: $primary-color;
    }

    &.btn-submit {
      background-color: $accent-color;
      color: $primary-color;

      &:hover {
        background-color: darken($accent-color, 5%);
      }

      &:disabled {
        background-color: lighten($accent-color, 20%);
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

}
