.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff; // Fondo para evitar transparencia
  padding: 1rem 0;
  z-index: 1000; // Asegura que el header esté por encima de otros elementos
  flex: 0 0 20%;
  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #0f265c;
    margin: 0;
  }
}
