@import "../../../assets/styles/variables";

.page-container {
  background-color: $page-background;
  padding: 10rem 5rem 5rem 5rem;
  @media (max-width: 768px) {
    padding: 3rem;
    margin-top: 5rem;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }

  .search-box {
    @media (max-width: 768px) {
      margin-right: 1rem;
    }
  }

  .search-box input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 1rem;

    @media (max-width: 768px) {
      padding: 0.9rem;
      margin-right: 1rem;
    }

    &:focus {
      outline: none;
      border-color: $accent-color;
      box-shadow: 0 0 0 2px rgba($accent-color, 0.2);
    }
  }

  .btn-add {
    background-color: $accent-color;
    color: $blue-color;
    border: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-weight: 600;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 0.9rem;
    }

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}

.card-container {
  background-color: $card-background;
  padding: 2rem;
  border-radius: 8px;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }

  .table-responsive {
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;

      thead th {
        padding: 1rem;
        font-weight: 600;
        color: $primary-color;
        border-bottom: 2px solid $border-color;
        background-color: $gray-light;

        &.text-right {
          text-align: right;
        }

        .table-header {
          display: flex;
          align-items: center;
          white-space: nowrap;

          .info-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: 0.5rem;
          }
        }

      }

      tbody tr {
        border-bottom: 1px solid $border-color;

        &:hover {
          background-color: $gray-hover;
        }

        td {
          padding: 0.75rem 1rem;
          vertical-align: middle;

          &.text-right {
            text-align: right;
          }

          .profile-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.3rem;
            height: 2.3rem;
            background-color: $logo-bg-color;
            border-radius: 50%;
            color: $card-background;
            font-size: 0.9rem;
            font-weight: 500;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    span {
      font-size: 0.9rem;
    }

    select {
      padding: 0.5rem;
      border: 1px solid $border-color;
      border-radius: 4px;

      &:focus {
        outline: none;
        border-color: $accent-color;
        box-shadow: 0 0 0 2px rgba($accent-color, 0.2);
      }
    }
  }
}

.menu-container {
  position: relative;
  display: inline-block;

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transform: rotate(90deg);
  }

  .menu-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: $card-background;
    border: 1px solid $border-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;

    .dropdown-item {
      width: 100%;
      padding: 0.5rem 1rem;
      background: none;
      border: none;
      text-align: left;
      cursor: pointer;
      font-size: 0.9rem;

      &:hover {
        background-color: $gray-light;
      }
    }
  }

  &:hover .menu-dropdown, &:focus-within .menu-dropdown {
    display: block;
  }
}

.info-icon {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: $gray-table;
  color: $card-background;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}
