*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'prelo-book';
}

body {
  font-family: "prelo-book", sans-serif;
  -webkit-font-smoothing: antialiased;
  /*height: auto;
  background-color: #f5f5f5;
  padding: 3rem;
  overflow: auto;*/

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

