// Backgrounds
$page-background: #f5f5f5;
$card-background: #ffffff;

// Main Colors
$primary-color: #333333;
$accent-color: #f1c40f;
$blue-color: #0f265c;

// States & Errors
$error-color: #ef4444;
$disabled-bg: #e5e7eb;

// Borders
$border-color: #d1d5db;

// Grays and hover effects
$gray-light: #f9f9f9;
$gray-hover: #fafafa;
$gray-table: #999;
$logo-bg-color: #cbd5e0;
